.dessertDetailsPage {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 40px auto;
  background-color: #fadadd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  flex: 1;
  max-width: 400px;
  margin-right: 20px;

  img {
    width: 100%;
    border-radius: 8px;
  }
}

.detailsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dessertTitle {
  font-family: "Cookie";
  font-size: 2.5rem;
  color: #8b4513;
}

.dessertDescription {
  font-size: 1.5rem;
  color: #6d3610;
  font-family: "Quicksand";
  font-style: italic;
  margin-top: 0;
}

.label {
  font-size: 1.2em;
  color: #6b3d89;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Quicksand";
  font-weight: bold;
}

.variantSelector,
input[type="number"] {
  padding: 5px;
  border: 1px solid #d4a373;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  margin-top: 5px;
  background-color: #fff8e1;
  font-family: "Quicksand";
  color: #8b4513;
}

.quantityContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;

  input {
    width: 60px;
    margin-left: 10px;
    background-color: #fff8e1;
    font-family: "Quicksand";
    color: #8b4513;
  }
}

.quantityInfo {
  font-size: 1rem;
  color: #d2691e;
  font-family: "Quicksand";
  margin: 10px;
  font-weight: bold;
}

.addToCart {
  margin-top: 20px;
  padding: 10px;
  background-color: #8b4513;
  color: #fff8e1;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  font-family: "Cookie";

  &:hover {
    background-color: #6b3d89;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
