.cartPage {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.heading {
  font-family: "Cookie";
  color: #8b4513;
  font-size: 3.5rem;
}
.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #fadadd;
  padding: 10px;
  border-radius: 8px;
  img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 15px;
  }
  div {
    flex-grow: 1;
    text-align: left;
  }
  h2 {
    font-size: 1.2rem;
    color: #8b4513;
    font-family: "Quicksand";
    font-weight: bold;
  }
  input {
    width: 50px;
    text-align: center;
    margin: 5px;
  }
}

.checkoutButton {
  background: #8b4513;
  color: #fff8e1;
  border: none;
  padding: 10px 20px;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  font-family: "Cookie";
  &:hover {
    background: #6d3610;
  }
}

.emptyCart {
  font-size: 1.2rem;
  margin-top: 50px;
  color: #8b4513;
  font-family: "Quicksand";
}

.continueShopping {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #8b4513;
  color: #fff8e1;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  &:hover {
    background: #6d3610;
  }
}

.totalPrice {
  font-family: "Cookie";
  color: #8b4513;
  font-size: 2rem;
}

.unitPrice {
  font-family: "Quicksand";
  color: #8b4513;
}

.removeButton {
  margin-top: 10px;
  border: none;
  font-family: "Quicksand";
  padding: 5px 7.5px;
  background: #8b4513;
  color: #fff8e1;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  &:hover {
    background: #6b3d89;
    cursor: pointer;
  }
}
